[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "third_party/cadical"]
	path = third_party/cadical
	url = git@github.com:MyskYko/cadical.git
[submodule "third_party/abc"]
	path = third_party/abc
	url = git@github.com:MyskYko/abc.git
